.home-background {
  height: 300px;
  background-image: url("/assets/img/home.jpg");
  background-position: bottom center;
  background-attachment: scroll;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-background > div {
  background: #0404044d;
}

.section {
  padding: 50px;
  background: var(--secondary-bg-color);
  margin-bottom: 50px;
}
.paragraph {
  padding: 50px;
  font-style: italic;
  text-align: justify;
}

img {
  width: inherit;
  max-width: 300px;
  display: flex;
  margin: auto;
  border-radius: 50%;
}
