<div class="container-fluid home-background">
  <div class="row h-100">
    <div class="col-12 h-100 d-flex justify-content-center align-items-center">
      <app-title
        text="Ary Demitrópulos"
        subtitle="Portfolio"
        inverted="true"
      ></app-title>
    </div>
  </div>
</div>
<div class="container section">
  <app-title text="About me" subtitle="Short description"></app-title>
  <img src="/assets/img/happy_guy.png" alt="Random guy" />
  <div class="paragraph main-color">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum atque dolorem
    iusto voluptatibus, officiis veniam quidem fugiat unde quisquam accusantium?
    Ad nihil cum sit, vitae accusamus rem rerum adipisci enim.Lorem ipsum dolor
    sit amet consectetur adipisicing elit. Cum atque dolorem iusto voluptatibus,
    officiis veniam quidem fugiat unde quisquam accusantium? Ad nihil cum sit,
    vitae accusamus rem rerum adipisci enim.Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Cum atque dolorem iusto voluptatibus, officiis
    veniam quidem fugiat unde quisquam accusantium? Ad nihil cum sit, vitae
    accusamus rem rerum adipisci enim.Lorem ipsum dolor sit amet consectetur
    adipisicing elit. Cum atque dolorem iusto voluptatibus, officiis veniam
    quidem fugiat unde quisquam accusantium? Ad nihil cum sit, vitae accusamus
    rem rerum adipisci enim.
  </div>
</div>
<hr />

<div class="container section">
  <app-title
    text="Intereted on hiring?"
    subtitle="See all my trajectory!"
  ></app-title>
  <div class="row mt-5">
    <div class="col-md-6">
      <img src="/assets/img/projects.png" alt="Random guy" />
    </div>
    <div class="col-md-6">
      <div>
        If you are interested in seeing my trajectory or if you want to know
        more about me, check out all the projects that I've been worked
      </div>
      <button class="btn btn-primary mt-2">Go see my projects!</button>
    </div>
  </div>
</div>
